/*   Styles for SF: V4: QuickChick     */

/*   Background   */
body { 	background-image: url('../media/image/qc_bg.jpg');   }
#header { background-color: rgba(190, 170, 190, 0.5); }

/*   This volume's color   */
.section, ul#menu li.section_name, div.button  { background-color: #8b7d95; }

.slide img {
   border: 2px solid gray;
   margin: 1em;
}
