#main, #main_home {
    padding: 100px;
    padding-top: 10px;
    margin: 0 0; 
    max-width: 1000px;
}

#main  h1 {
    line-height: 80%;
    /* Demitri: font-size: 22pt; */
    font-size: 150%; /* BCP */
}

h1.libtitle {
    font-size: 300% !important;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 30px;
 }

/*
.subtitle {
    font-size: 170%;
    line-height: 100%;
}*/

#main .doc {
    font-size: 22px;
    line-height: 34px;
}

.code { 
    font-size: 22px;
    line-height: 34px;
} 

body {
  background: white;
}

