/*   Styles for SF: V5: Verifiable C     */

/*   Background   */
body { 	background-image: url('../media/image/verified_bg.jpg');   }
#header { background-color: rgba(52, 173, 46, 0.54);
}
/*   This volume's color   */
.section, ul#menu li.section_name, div.button  { background-color: #4CCD45; }

