.DS_Store
*.v.d
*.report
*.vo
*.aux
*.cmx
*.glob
*~
*.tmp
temp.*
junk.*
TAGS
*.axioms
*/*.exercises
*/*.exercisenames
*/*Temp.v
*.cmi
*.cmo
_build
*.native
*/terse
*/full
*/sol

lf/imp.ml
lf/imp.mli
lf/imp1.ml
lf/imp1.mli
lf/imp2.ml
lf/imp2.mli
lf/impdriver
tools/coqdoc/alpha.o
tools/coqdoc/cdglobals.o
tools/coqdoc/coq_config.ml
tools/coqdoc/coq_config.o
tools/coqdoc/coqdoc
tools/coqdoc/index.ml
tools/coqdoc/index.o
tools/coqdoc/main.o
tools/coqdoc/output.o
tools/coqdoc/pretty.ml
tools/coqdoc/pretty.o
tools/coqsplit
tools/coqsplit.o
tools/tidyhtmlmore
tools/tidyhtmlmore.o
tools/tidytoc
tools/tidytoc.o
tools/tidyv
tools/tidyv.o
vfa/redblack.ml
vfa/redblack.mli
vfa/searchtree.ml
vfa/searchtree.mli
