/*   Styles for SF: V1: Logical Foundations     */

/*   Background   */
body { background-image: url('../media/image/logical_foundations_bg.jpg'); }

#header { background-color: rgba(75, 82, 95, 0.53); }

/*   This volume's color   */
.section, ul#menu li.section_name, div.button, td.logical_tab, .ui-state-active  { background-color: #91a1d1; }

