/*   Styles for SF: V4: Separation Logic     */

/*   Background   */
body { 	background-image: url('../media/image/verified_bg.jpg');   }
#header { background-color: rgba(75, 95, 77, 0.53);
}
/*   This volume's color   */
.section, ul#menu li.section_name, div.button  { background-color: #c2c26c; }

.slide img {
   border: 2px solid gray;
   margin: 1em;
}